---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { SECTION_DEFS } from "../constants";
import type { Certifications, ContentSection } from "../content/types";
import { getManagedImage } from "../helpers/media";
import Icon from "./common/icon.astro";
import ImgLinkHandler from "./common/raw-svgs/img-link-handler.astro";

const {
  data: { title, certificates },
} = (await getEntry(
  "home-page",
  "certifications",
)) as ContentSection<Certifications>;

const { sectionId, sectionClass } = SECTION_DEFS["certifications"];
---

<div
  id={sectionId}
  class:list={[
    sectionClass,
    `
      glassy glass-empty glass-card glass-responsive p-0 mt-[var(--site-space-y)]
      motion-safe:opacity-0 intersect:animate-fade-up intersect-once intersect-th-0.1 motion-reduce:intersect:animate-none
    `,
  ]}
>
  <div class="glass-empty-header p-[var(--site-space-x)]">
    <span class="text-title-2">{title}</span>
  </div>
  <div
    class="p-[var(--site-space-x)] pb-[calc(var(--site-space-x)*2)] flex flex-col md:flex-row gap-y-[var(--site-space-y)] sm:gap-y-[calc(var(--site-space-y)/2)]"
  >
    {
      certificates.map((cert) => (
        <div
          class={`
            flex flex-col gap-4 flex-1 md:pr-[var(--site-space-x)]
            motion-safe:opacity-0 intersect:animate-fade-right intersect-once intersect-th-0.1 motion-reduce:intersect:animate-none
          `}
        >
          <div class="flex items-center text-success gap-4">
            <Icon icon="certified" class="h-12" />
            <span class="text-title-4">{cert.name}</span>
          </div>
          <a class="shadow-2xl w-fit cursor-zoom-in" target="_blank">
            <ImgLinkHandler />
            <Image
              src={getManagedImage(cert.image.src)}
              alt={cert.image.alt}
              class="img-fade-in sm:w-[24rem]"
              loading="lazy"
            />
          </a>
        </div>
      ))
    }
  </div>
</div>
