---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { SECTION_DEFS } from "../constants";
import type { Certifications, ContentSection } from "../content/types";
import { getManagedImage } from "../helpers/media";
import Icon from "./common/icon.astro";
import ImgZoomWrapper from "./common/img-zoom-wrapper.astro";
import Markdown from "./common/markdown.astro";

const {
  data: { title, description, certificates },
} = (await getEntry(
  "home-page",
  "certifications",
)) as ContentSection<Certifications>;

const { sectionId, sectionClass } = SECTION_DEFS["certifications"];
---

<div
  id={sectionId}
  class:list={[
    sectionClass,
    `
      glassy glass-empty glass-card glass-responsive [&&]:p-0 mt-[var(--site-space-y)]
      motion-safe:opacity-0 intersect:animate-fade-up intersect-once intersect-th-0.1 motion-reduce:intersect:animate-none
    `,
  ]}
>
  <div class="glass-empty-header p-[var(--site-space-x)]">
    <span class="text-title-2">{title}</span>
  </div>

  <div
    class="p-[var(--site-space-x)] py-[calc(var(--site-space-x)*1.5)] flex flex-col gap-[calc(var(--site-space-x)*1.5)]"
  >
    {
      !!description && (
        <div class="blurb motion-safe:opacity-0 intersect:animate-fade-left intersect-once motion-reduce:intersect:animate-none">
          <Markdown content={description} noMarginY />
        </div>
      )
    }

    <div class="grid grid-cols-1 md:grid-cols-2 gap-[var(--site-space-x)]">
      {
        certificates.map((cert) => (
          <div
            class={`
              flex flex-col gap-[var(--site-space-x-sm)] bg-full [&&]:bg-opacity-10 w-full rounded-lg p-[var(--site-space-x-sm)] 
              motion-safe:opacity-0 intersect:animate-fade-up intersect-once motion-reduce:intersect:animate-none
            `}
          >
            <div class="flex items-center text-success gap-4">
              <Icon icon="certified" class="h-12" />
              <span class="text-title-4">{cert.name}</span>
            </div>
            <a
              class="w-fit cursor-zoom-in border border-base-content border-opacity-20 rounded-md overflow-clip shadow-xl"
              target="_blank"
            >
              <ImgZoomWrapper>
                <Image
                  src={getManagedImage(cert.image.src)}
                  alt={cert.image.alt}
                  class="img-fade-in w-full"
                  loading="lazy"
                />
              </ImgZoomWrapper>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</div>
