---
import { getEntry } from "astro:content";
import { SECTION_DEFS } from "../constants";
import type { AboutUs, ContentSection } from "../content/types";
import Icon from "./common/icon.astro";
import Markdown from "./common/markdown.astro";
import PageSection from "./common/page-section.astro";

const {
  data: {
    title,
    description,
    image,
    location_card,
    business_card,
    service_card,
  },
} = (await getEntry("home-page", "about-us")) as ContentSection<AboutUs>;

const cardIcons = ["location-lrg", "business-lrg", "service-lrg"];
const { sectionId, sectionClass } = SECTION_DEFS["contact-us"];
---

<PageSection>
  <div id={sectionId} class:list={[sectionClass]}>
    <p class="text-title-1 mb-[calc(var(--site-space-y)/2)]">{title}</p>
    <div
      class={`
        about-cards flex flex-col items-center justify-between gap-x-12 gap-y-[var(--site-space-y)] transition-[gap] text-center
        sm:flex-wrap sm:justify-evenly 
        md:flex-row md:items-stretch
        `}
    >
      {
        [location_card, business_card, service_card].map((card, idx) => (
          <div
            class:list={`
        bracket-card transition flex-1 max-w-sm grid grid-flow-row p-6 gap-12 
        motion-safe:opacity-0 ${idx % 2 ? "intersect:animate-fade-left" : "intersect:animate-fade-right"} intersect-once motion-reduce:intersect:animate-none
        sm:min-w-[20rem] 
        md:crafted-rows md:max-w-xs md:gap-0 md:intersect:animate-fade-up motion-reduce:md:intersect:animate-none 
        `}
          >
            <Icon icon={cardIcons[idx]} class="h-24 mx-auto" />
            <p class="text-title-3 text-primary">{card.title}</p>
            <Markdown content={card.description} />
          </div>
        ))
      }
    </div>
  </div>
</PageSection>

<style>
  .page-section {
  }

  @tailwind utilities;
  @layer utilities {
    .crafted-rows {
      grid-template-rows: minmax(0, 5fr) minmax(0, 3fr) minmax(0, 6fr);
    }
  }
</style>
