---
import { getEntry } from "astro:content";
import { SECTION_DEFS } from "../constants";
import type { ContactUs, ContentSection } from "../content/types";
import Icon from "./common/icon.astro";
import Markdown from "./common/markdown.astro";
import PageSection from "./common/page-section.astro";

const {
  data: { title, emailCard, phoneCard, mailingCard, shippingCard },
} = (await getEntry("home-page", "contact-us")) as ContentSection<ContactUs>;

const cardIcons = ["email-lrg", "phone-lrg", "mail-lrg", "shipping-lrg"];
const { sectionId, sectionClass } = SECTION_DEFS["contact-us"];
---

<PageSection class="pt-[var(--site-space-y-sm)]">
  <div id={sectionId} class:list={[sectionClass]}>
    <p class="text-title-1 mb-[calc(var(--site-space-y)/2)]">{title}</p>
    <div
      class={`
        flex flex-wrap gap-y-[var(--site-space-y)] transition-[gap]
      `}
    >
      {
        [emailCard, phoneCard, mailingCard, shippingCard].map((card, idx) => (
          <div class="bracket-card-wrapper flex-1 basis-[22rem] lg:basis-[28rem] flex justify-center px-[var(--site-space-x-lg)]">
            <div
              style={`animation-delay: ${idx * 100}ms`}
              class:list={`
                bracket-card max-w-[22rem] transition w-full grid p-8 text-center strict-relational-rows
                motion-safe:opacity-0 intersect:animate-fade-right intersect-once motion-reduce:intersect:animate-none
                md:intersect:animate-fade-up motion-reduce:md:intersect:animate-none 
              `}
            >
              <Icon icon={cardIcons[idx]} class="h-24 mx-auto mb-12" />
              <p class="text-title-3 text-primary">{card.title}</p>
              <Markdown content={card.description} noMarginY />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</PageSection>

<style>
  .bracket-card {
    @apply max-xl:!no-animation-delay;
  }
  @media (min-width: 80rem) {
    .bracket-card-wrapper {
      @apply !basis-0 !px-4;
    }
    .bracket-card {
      @apply max-w-[20rem];
    }
  }

  @tailwind utilities;
  @layer utilities {
    .strict-relational-rows {
      grid-template-rows: minmax(0, 4fr) minmax(0, 3fr) minmax(0, 3fr);
    }
    .no-animation-delay {
      animation-delay: 0s;
    }
  }
</style>
