---
import { getEntry } from "astro:content";
import { SECTION_DEFS } from "../constants";
import type { ContactUs, ContentSection } from "../content/types";
import Icon from "./common/icon.astro";
import Markdown from "./common/markdown.astro";
import PageSection from "./common/page-section.astro";

const {
  data: { title, emailCard, phoneCard, mailingCard, shippingCard },
} = (await getEntry("home-page", "contact-us")) as ContentSection<ContactUs>;

const cardIcons = ["email-lrg", "phone-lrg", "mail-lrg", "shipping-lrg"];
const { sectionId, sectionClass } = SECTION_DEFS["contact-us"];
---

<PageSection class="pt-[var(--site-space-y-sm)]">
  <div id={sectionId} class:list={[sectionClass]}>
    <p class="text-title-1 mb-[calc(var(--site-space-y)/2)]">{title}</p>
    <div
      class={`
        flex flex-col items-stretch justify-evenly gap-y-[var(--site-space-y)] transition-[gap] text-center
        md:flex md:flex-row md:flex-wrap md:gap-x-[var(--site-space-x)]
        xl:flex-nowrap
        `}
    >
      {
        [emailCard, phoneCard, mailingCard, shippingCard].map((card, idx) => (
          <div class="md:basis-1/3 w-full">
            <div
              class:list={`
              bracket-card transition mx-auto w-full max-w-sm h-full grid grid-flow-row p-6 gap-12 
              motion-safe:opacity-0 ${idx % 2 ? "intersect:animate-fade-right" : "intersect:animate-fade-left"} intersect-once motion-reduce:intersect:animate-none
              sm:strict-relational-rows md:intersect:animate-fade-up motion-reduce:md:intersect:animate-none 
              `}
            >
              <Icon icon={cardIcons[idx]} class="h-24 mx-auto" />
              <p class="text-title-3 text-primary">{card.title}</p>
              <Markdown content={card.description} noMarginY />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</PageSection>

<style>
  @tailwind utilities;
  @layer utilities {
    .strict-relational-rows {
      grid-template-rows: minmax(0, 4fr) minmax(0, 3fr) minmax(0, 3fr);
    }
  }
</style>
