---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { SECTION_DEFS } from "../constants";
import type { ContentSection, Distributorships } from "../content/types";
import { getManagedImage } from "../helpers/media";

const {
  data: { title, distributors },
} = (await getEntry(
  "home-page",
  "distributorships",
)) as ContentSection<Distributorships>;

const { sectionId, sectionClass } = SECTION_DEFS["distributorships"];
---

<div
  id={sectionId}
  class:list={[
    sectionClass,
    `
    glassy glass-empty glass-card p-0 mt-[calc(var(--site-space-y)/2)]
    motion-safe:opacity-0 intersect:animate-fade-up intersect-once intersect-th-0.1 motion-reduce:intersect:animate-none
  `,
  ]}
>
  <div class="glass-empty-header p-[var(--site-space-x)]">
    <span class="text-title-2">{title}</span>
  </div>
  <div
    class="p-[var(--site-space-x)] pb-[calc(var(--site-space-x)*2)] flex flex-col flex-wrap items-center md:items-start justify-around md:flex-row gap-x-[var(--site-space-x)] gap-y-[var(--site-space-y)] sm:gap-y-[calc(var(--site-space-y)/2)]"
  >
    {
      distributors.map((dist) => (
        <div class="basis-1/3">
          <a
            class="flex flex-col gap-4 w-fit mx-auto"
            href={dist.href}
            target="_blank"
          >
            <span class="text-title-4">{dist.name}</span>
            <Image
              src={getManagedImage(dist.image.src)}
              alt={dist.image.alt}
              class="img-fade-in w-72 min-w-[16rem] drop-shadow-xl"
              loading="lazy"
            />
          </a>
        </div>
      ))
    }
  </div>
</div>
