---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { SECTION_DEFS } from "../constants";
import type { ContentSection, Distributorships } from "../content/types";
import { getManagedImage } from "../helpers/media";
import Markdown from "./common/markdown.astro";

const {
  data: { title, description, distributors },
} = (await getEntry(
  "home-page",
  "distributorships",
)) as ContentSection<Distributorships>;

const { sectionId, sectionClass } = SECTION_DEFS["distributorships"];
---

<div
  id={sectionId}
  class:list={[
    sectionClass,
    `
     glassy glass-empty glass-card glass-responsive [&&]:p-0 mt-[var(--site-space-y-sm)]
      motion-safe:opacity-0 intersect:animate-fade-up intersect-once intersect-th-0.1 motion-reduce:intersect:animate-none
    `,
  ]}
>
  <div class="glass-empty-header p-[var(--site-space-x)]">
    <span class="text-title-2">{title}</span>
  </div>
  <div
    class="p-[var(--site-space-x)] py-[calc(var(--site-space-x)*1.5)] flex flex-col gap-[calc(var(--site-space-x)*1.5)]"
  >
    {
      !!description && (
        <div class="blurb motion-safe:opacity-0 intersect:animate-fade-left intersect-once motion-reduce:intersect:animate-none">
          <Markdown content={description} noMarginY />
        </div>
      )
    }
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-[var(--site-space-x)]">
      {
        distributors.map((dist) => (
          <a
            class={`
              cell bg-full gap-[var(--site-space-x)] flex-row items-center w-full
              motion-safe:opacity-0 intersect:animate-fade-up intersect-once motion-reduce:intersect:animate-none
            `}
            href={dist.href}
            target="_blank"
          >
            <div class="aspect-square flex flex-col justify-center">
              <Image
                src={getManagedImage(dist.image.src)}
                alt={dist.image.alt}
                class="img-fade-in w-32 min-w-32 sm:w-40 sm:min-w-40 drop-shadow-xl"
                loading="lazy"
              />
            </div>
            <span class="text-title-4">{dist.name}</span>
          </a>
        ))
      }
    </div>
  </div>
</div>

<style>
  a {
    text-decoration-thickness: 3px;
  }
</style>
