---
import { getEntry } from "astro:content";
import type { ContentSection, OurWork } from "../content/types";
import { makeId } from "../helpers/strings";
import Carousel from "./common/carousel.astro";
import { SECTION_DEFS } from "../constants";
import Markdown from "./common/markdown.astro";

const {
  data: { title, galleries },
} = (await getEntry("home-page", "our-work")) as ContentSection<OurWork>;
const { sectionId, sectionClass } = SECTION_DEFS["our-work"];
---

<work-galleries
  id={sectionId}
  class:list={[
    sectionClass,
    `
      glassy glass-full glass-card glass-responsive text-empty [&&]:p-0 flex flex-col 
      motion-safe:opacity-0 intersect:animate-fade-up intersect-once motion-reduce:intersect:animate-none
    `,
  ]}
>
  <div class="glass-full-header">
    <p
      class="text-title-2 px-[var(--site-space-x)] pt-[var(--site-space-x-lg)] pb-0 text-center"
    >
      {title}
    </p>
    <ul
      role="tablist"
      class="flex gap-2 no-scrollbar overflow-x-scroll mx-auto w-fit max-w-full px-[var(--site-space-x)]"
    >
      {
        galleries.map((gallery, idx) => (
          <li role="tab">
            <button
              class:list={[
                "gallery-tab tl-tab tl-tab-x text-empty",
                { "tl-tab--selected": !idx },
              ]}
              data-gallery={makeId(gallery.name)}
            >
              {gallery.name}
            </button>
          </li>
        ))
      }
    </ul>
  </div>

  {
    galleries.map((gallery, idx) => (
      <div
        class:list={[
          "gallery-carousel py-[calc(var(--site-space-x)*1.5)] flex flex-col gap-[calc(var(--site-space-x)*1.5)]",
          { hidden: !!idx },
        ]}
        data-gallery={makeId(gallery.name)}
      >
        {!!gallery.description && (
          <div class="site-px w-full flex flex-col gap-[var(--carousel-gap)]">
            <div class="w-full max-w-[30rem] my-[var(--site-space-x-sm)] mx-auto text-center">
              <Markdown
                content={gallery.description}
                noMarginY
                class="text-lg"
              />
            </div>
            {!!gallery.subDescriptions.length && (
              <div class="flex flex-wrap gap-[var(--site-space-x)]">
                {gallery.subDescriptions.map((sd) => (
                  <div class="cell shadow-std bg-full !bg-opacity-25 flex-1 basis-72">
                    <Markdown content={sd} noMarginY />
                  </div>
                ))}
              </div>
            )}
          </div>
        )}
        {!!gallery.images.length && <Carousel images={gallery.images} />}
      </div>
    ))
  }
</work-galleries>

<style>
  .gallery-carousel {
    --carousel-control-color: var(--color-empty);
    .markdown {
      --bc: var(--color-empty);
    }
  }
</style>

<script>
  import { scrollXIntoView } from "../helpers/scroll";

  class WorkGalleries extends HTMLElement {
    constructor() {
      super();
      const tabs = this.querySelectorAll<HTMLButtonElement>(".gallery-tab");
      const carousels =
        this.querySelectorAll<HTMLDivElement>(".gallery-carousel");

      tabs.forEach((tab) => {
        const tabGallery = tab.dataset.gallery;

        tab.addEventListener("click", () => {
          scrollXIntoView(tab.parentElement);
          tabs.forEach((thisTab) => {
            const thisTabGallery = thisTab.dataset.gallery;
            if (tabGallery === thisTabGallery) {
              thisTab.classList.add("tl-tab--selected");
            } else {
              thisTab.classList.remove("tl-tab--selected");
            }
          });
          carousels.forEach((carousel) => {
            const carouselGallery = carousel.dataset.gallery;
            if (tabGallery === carouselGallery) {
              carousel.classList.remove("hidden");
            } else {
              carousel.classList.add("hidden");
            }
          });
        });
      });
    }
  }

  customElements.define("work-galleries", WorkGalleries);
</script>
