---
import { getEntry } from "astro:content";
import type { ContentSection, OurWork } from "../content/types";
import { makeId } from "../helpers/strings";
import Carousel from "./common/carousel.astro";
import { SECTION_DEFS } from "../constants";

const {
  data: { title, galleries },
} = (await getEntry("home-page", "our-work")) as ContentSection<OurWork>;
const { sectionId, sectionClass } = SECTION_DEFS["our-work"];
---

<work-galleries
  id={sectionId}
  class:list={[
    sectionClass,
    `
      glassy glass-full glass-card pt-0 px-0 text-empty [&&]:px-0 flex flex-col gap-[var(--site-space-x)] 
      motion-safe:opacity-0 intersect:animate-fade-up intersect-once intersect-th-0.1 motion-reduce:intersect:animate-none
    `,
  ]}
>
  <div class="p-[var(--site-space-x)] pb-0 glass-full-header">
    <span class="text-title-2">{title}</span>
    <ul
      role="tablist"
      class="flex gap-2 overflow-x-scroll mx-auto w-fit max-w-full"
    >
      {
        galleries.map((gallery, idx) => (
          <li role="tab">
            <button
              class:list={[
                "gallery-tab tl-tab tl-tab-x text-empty",
                { "tl-tab--selected": !idx },
              ]}
              data-gallery={makeId(gallery.name)}
            >
              {gallery.name}
            </button>
          </li>
        ))
      }
    </ul>
  </div>

  {
    galleries.map((gallery, idx) => (
      <Carousel
        images={gallery.images}
        class:list={["gallery-carousel", { hidden: !!idx }]}
        data-gallery={makeId(gallery.name)}
      />
    ))
  }
</work-galleries>

<style>
  .gallery-carousel {
    .carousel-comp__pg-btns {
      --bc: var(--color-empty);
    }
  }
</style>

<script>
  class WorkGalleries extends HTMLElement {
    constructor() {
      super();
      const tabs = this.querySelectorAll<HTMLButtonElement>(".gallery-tab");
      const carousels =
        this.querySelectorAll<HTMLDivElement>(".gallery-carousel");

      tabs.forEach((tab) => {
        const tabGallery = tab.dataset.gallery;

        tab.addEventListener("click", () => {
          tabs.forEach((thisTab) => {
            const thisTabGallery = thisTab.dataset.gallery;
            if (tabGallery === thisTabGallery) {
              thisTab.classList.add("tl-tab--selected");
            } else {
              thisTab.classList.remove("tl-tab--selected");
            }
          });
          carousels.forEach((carousel) => {
            const carouselGallery = carousel.dataset.gallery;
            if (tabGallery === carouselGallery) {
              carousel.classList.remove("hidden");
            } else {
              carousel.classList.add("hidden");
            }
          });
        });
      });
    }
  }

  customElements.define("work-galleries", WorkGalleries);
</script>
